<ion-header>
    <ion-toolbar>
        <ion-title>NUEVA TOMA</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label position="fixed">Nombre Medicamento</ion-label>
        <ion-input placeholder="Introduce el nombre del medicamento" [(ngModel)]="medicamento.nombre"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="fixed">Cantidad</ion-label>
        <ion-input placeholder="P. ej: 1, 1/2, 2ml, etc" [(ngModel)]="medicamento.cantidad"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="fixed">Tomas al dia</ion-label>
        <ion-input placeholder="P. ej: Cada 8 horas" [(ngModel)]="medicamento.tomas"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="fixed">Foto</ion-label>
        <ion-input placeholder="aqui la foto" [(ngModel)]="medicamento.foto"></ion-input>
    </ion-item>


    <ion-button (click)="nuevoMedicamento()">
        Añadir
        <ion-icon slot="end" name="add"></ion-icon>
    </ion-button>


</ion-content>