<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Listado de Artículos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label >Descripción</ion-label>
      <ion-label>Categoría</ion-label>
      <ion-label>Tipo</ion-label>
      <ion-label>Cantidad</ion-label>
    </ion-item>

    <ion-item *ngFor="let articulo of articulos | async">
      <ion-label [routerLink]="['/update']">{{articulo.descripcion}}</ion-label>
      <ion-label>{{articulo.categoria}}</ion-label>
      <ion-label>{{articulo.tipo}}</ion-label>
      <ion-label>{{articulo.cantidad}}</ion-label>
    </ion-item> 
  </ion-list>
</ion-content>
