<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Listado de Tomas
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-list>
        <ion-item>
            <ion-label>Nombre</ion-label>
            <ion-label>Cantidad</ion-label>
            <ion-label>Tomas/día</ion-label>
            <ion-label>Foto</ion-label>
        </ion-item>

        <ion-item *ngFor="let medicamento of medicamentos | async">
            <ion-label [routerLink]="['/update']">{{medicamento.nombre}}</ion-label>
            <ion-label>{{medicamento.cantidad}}</ion-label>
            <ion-label>{{medicamento.tomas}}</ion-label>
            <ion-label>{{medicamento.foto}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>