<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Página de Inicio
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-img src="/assets/pillbox.jpg"></ion-img>
        <ion-card-header>
            <ion-card-title>My Pill Box</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>TFC DAM - Benigno Cantero</p>
        </ion-card-content>
    </ion-card>

</ion-content>