<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/almacen.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Tu Almacén</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Aplicación creada por Benigno Cantero</p>
      </ion-card-content>
    </ion-card>
    
</ion-content>
